.homes{
    // background-color: grey;
    grid-column: center-start / center-end;
    margin: 8rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.home{
    background-color: $primary-color;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    .wishlist{
        color: brown;
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        font-size: 2rem;
        justify-self: right;
        margin: 1rem;
        z-index: 10;
    }
    &--img{
        width: 100%;
        grid-row: 1 / 1;
        grid-column: 1 / -1;
    }
    &--name{
        grid-column: 1 / -1; 
        padding: .5rem;
        width: 80%;
        text-align: center;
        transform: translateY(-50%);
        z-index: 10;
    }

    &__price{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-self: start;
        gap: 1.5rem;
        margin-bottom: 2rem;
        span{
            // margin-right: 1rem;
            // display: block;
        }
    }

    &__location,
    &__area,
    &__rooms,
    &__price{
    font-size: 1.5rem;
    }
    &--cta{
        width: 100%;
        grid-column: 1 / -1;
        text-align: center;
        align-items: center;
        font-family: $secondary-font-family;
    }
}