.sidebar{
    background-color: rgb(56, 54, 54);
    grid-row: 1 / -1;
    grid-column: sidebar-start / sidebar-end;
}

.sidebar-menu{
    background-color: $color-white;
    width: 4rem;
    height: .2rem;
    border: 0;
    display: block;
    margin-top: 3rem;
    transform: translateX(50%);
    cursor: pointer;
    &::before,
    &::after{
        display: table;
        content: "";
        clear: both;
        background-color: $color-white;
        width: 4rem;
        height: .2rem;
        border: 0;
        display: block;

    }
    &::before{
        margin-top: .7rem;
    }
    &::after{
        margin-top: .5rem;
    }
}