.story{
    &__picture{
        // background-color: yellowgreen;
        background: linear-gradient(to top left, rgba($color-black, .4), rgba($color-black, .6), rgba(#0088cc, .7)), url(../assets/back.jpg) center center no-repeat;
        background-size: cover;
        grid-column: full-start / 4 col-end;

        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(6, 1fr);
        @media only screen and (max-width: $desktop-bp-medium){
            grid-column: 1 / -1;
        }
        &--img-1{
            width: 100%;
            grid-row: 2 / 6;
            grid-column: 2 / 6;
            align-self: center;
            // @media only screen and (max-width: $desktop-bp-medium){
            //     width: 113%;
            //     grid-column: 3 / 6;
            // }
        }
        &--img-2{
            width: 113%;
            grid-row: 4 / 7;
            grid-column: 4 / 7;
            z-index: 1;
            box-shadow: 0 0 1rem #000;
            @media only screen and (max-width: $desktop-bp-medium){
                width: 113%;
                grid-column: 3 / 6;

            }
        }
    }
    &__content{
        background-color: rgba($secondary-color, .4);
        grid-column: 4 col-end / full-end;
        padding: 6rem 10vh;
        @media only screen and (max-width: $desktop-bp-medium){
            grid-column: 1 / -1;
            grid-row: 5 / 6;
        }

        // display: grid;
        // align-content: center;
        // justify-items: start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        &--description{
            font-size: 1.3rem;
            text-align: justify;
        }
    }
}