@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Rubik:wght@300&display=swap');
$primary-color: #fafafa;
$secondary-color: #f9f7f6;
$color-white: #fff;
$color-black: #000;

$primary-font-family: 'Nunito', sans-serif;
$secondary-font-family: 'Rubik', sans-serif;