@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Rubik:wght@300&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80vh min-content 40vw (min-content)[3];
      grid-template-rows: 80vh -webkit-min-content 40vw repeat(3, -webkit-min-content);
      grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  -ms-grid-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] ([col-start] minmax(min-content, 14rem) [col-end])[8] [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.container > * {
  padding: 1rem;
  font-size: 1.5rem;
  color: sandybrown;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

ol li {
  list-style-type: none;
}

.features {
  grid-column: center-start / center-end;
  margin: 8rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(23rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  gap: 3rem;
}

.feature {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
  row-gap: .5rem;
  grid-auto-flow: column;
  grid-auto-flow: row;
  -webkit-column-gap: .5rem;
          column-gap: .5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.feature--icon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.feature--description {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer {
  background-color: #000;
  grid-column: full-start / full-end;
}

.gallery {
  background-color: crimson;
  grid-column: full-start / full-end;
}

.header {
  background-color: green;
  grid-column: full-start / 6 col-end;
}

.home {
  background-color: grey;
  grid-column: center-start / center-end;
}

.realtors {
  background-color: blue;
  grid-column: 6 col-end / full-end;
}

.sidebar {
  background-color: brown;
  grid-row: 1 / -1;
  grid-column: sidebar-start / sidebar-end;
}

.story__picture {
  background-color: yellowgreen;
  grid-column: full-start / 4 col-end;
}

.story__content {
  background-color: pink;
  grid-column: 4 col-end / full-end;
}
/*# sourceMappingURL=main.css.map */